<div class="col s12 m12">
  <div class="icon-block">
    <h2 class="center brown-text"><i class="material-icons">group</i></h2>

    <div style="text-align: center;vertical-align: middle;line-height: 90px;">
      <h5><%= @group.name %></h5>
      <h6>Meeting</h6>
    </div>
  </div>
</div>

<div class="col s12 m12">
  <div class='row'>
    <p>  
      Book: <%= BookSuggestion.find_by(isbn: @meeting.selected_book.isbn).title %><br/>
      <%= @meeting.meeting_date.strftime("%B %e, %Y at %k:%M %p") %><br/>
      Location: <%= @meeting.location %><br/>
      Address: <%= @meeting.address %><br/>
      <%= @meeting.city %> <%= @meeting.state %> <%= @meeting.zip %><br/>
      Additional Info: <%= @meeting.notes %> <br/><br/>

      <% if @latitude && @longitude %>
        <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@latitude}%2C#{@longitude}&key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>
      <% end %>
    </p>
  </div>
</div>