<li class="collection-item">

  <ul class="collapsible" data-collapsible="accordion">
    <li style="width:100%">
      <div class="collapsible-header">Make a suggestion list for next month's book</div>
      <div class="collapsible-body">
        <p>
          <% @member.group.genres.each do |genre| %>
            <a href="/books?member_id=<%= @member.id %>&genre=<%= genre.genre %>"><%= genre.display_name %><br/>
          <% end %>
        </p>
      </div>
    </li>
  </ul>
</li>

<li class="collection-item" style="height: 70px">
  <a href="/book_votes?group_id=<%= @group.id %>">Select next month's book</a>
</li>

<li class="collection-item" style="height: 70px">
  <a href='/meetings/new?id=<%= @group.id %>'>Set up next month's meeting</a>
</li>