<h5>Edit <%= @group.name %></h5>

<%= form_tag "/groups/#{@group.id}", method: 'patch' do %>
  <div>
    <%= label_tag 'Name *' %>
    <%= text_field_tag :name, @group.name, required: true, placeholder: 'Group Name' %>
  </div>

  <div>
    <h6>Are you the leader for this group?</h6>
    <%= label_tag :leader_flag, 'Yes' %>
    <%= radio_button_tag :leader_flag, true, @member == @group.group_leader %>
    <%= label_tag :leader_flag, 'No' %>
    <%= radio_button_tag :leader_flag, false, @member != @group.group_leader %>
  </div>

  <div>
    <%= label_tag 'About your group' %>
    <%= text_area_tag :about, @group.about %>
  </div>

  <div>
    <%= label_tag 'Location *' %>
    <%= text_field_tag :city, @group.city, required: true, placeholder: 'City' %>, <%= text_field_tag :state, @group.state, required: true, placeholder: 'State'%>
  </div>

  <div>
    <% @genres.each do |genre| %>
      <%= check_box_tag('genres[]', genre.id, checked = @group_genres.find_by(genre_id: genre.id)) %>
      <%= genre.genre %>
      <br/>
    <% end %>
  </div>
   
  <%= submit_tag "Change Group" %>
<% end %>
