<h5>Create a Group</h5>

<%= form_tag '/groups', method: :post do %>
  <div class='row'>
    <%= label_tag 'Name *' %>
    <%= text_field_tag :name, @group.name, required: true, placeholder: 'Group Name' %>
  </div>

  <div class='row'>
    <h6>Are you the leader for this group?</h6>
    <input name="leader_flag" type="radio" id="leader_flag_true" value=true checked />
    <label for="leader_flag_true">Yes</label>
    <input name="leader_flag" type="radio" id="leader_flag_false" value=false />
    <label for="leader_flag_false">No</label>
  </div>

  <div class='row'>
    <%= label_tag 'About your group' %>
    <%= text_area_tag :about, @group.about %>
  </div>

  <div class='row'>
    <%= label_tag 'Location *' %>
    <%= text_field_tag :city, @group.city, required: true, placeholder: 'City' %> <%= text_field_tag :state, @group.state, required: true, placeholder: 'State'%> <%= text_field_tag :zip_code, @group.zip_code, required: true, placeholder: 'Zip Code' %>
  </div>

  <div class='row'>
    <% @genres.each do |genre| %>
      <input type="checkbox" id="genres_<%= genre.id %>" value="<%= genre.id %>" name="genres[]" />
      <label for="genres_<%= genre.id %>"><%= genre.genre.titleize %></label>
      <br/>
    <% end %>
  </div>
  
  <button class="btn waves-effect waves-light" type="submit" name="action">Create a New Group</button>
    
<% end %>
