<div class='row'>
  <div class="col s12 m3">
    <ul class='collection' style='margin-top:150px;'>  
      <% if @member.group_leader? %>
        <%= render 'leader_tasks' %>
      <% end %>

      <%= render 'member_tasks' %>
    </ul>
  </div>

  <div class="col s12 m6 " >
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">group</i></h2>
      <h5><%= @group.name %></h5>

      <% if @member.group_leader? %>
        <%= link_to 'Edit', "/groups/#{@group.id}/edit" %>
      <% end %>

      <p>
        <h6>Leader: </h6>
        <% if @group.group_leader %>
          <%= @group.group_leader.user.first_name %> <%= @group.group_leader.user.last_name %>
        <% else %>
          No Leader
        <% end %>
      </p>

      <p>
        <h6>Location:</h6>
        <%= @group.city %>, <%= @group.state %>
      </p>

      <p>
        <h6>Genres:</h6>
        <% @group_genres.each do |group_genre| %>
          <%= group_genre.genre.genre %></br/>
        <% end %>
      </p>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="icon-block">
      <p style='margin-top:140px'>
        <div>
          <h6><u>Members:</u></h6>
          <ul class="collection">
            <% @group.members.each do |member| %>
              <li class="collection-item avatar">
                <img src="/member<%= member.id %>.png" alt="Contact Person" class='circle'><br/>
                <span class="title"><%= member.user.first_name %> <%= member.user.last_name %></span>
                <p>
                  Chicago, IL
                  <%#= member.user.city %> <%#= member.user.state %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </p>
    </div>    
  </div>
</div>



<div class='row'>
  <%= link_to 'Back to Groups Page', '/groups' %>
</div>