<h5><%= @group.name %></h5>

<% if @member.group_leader? %>
  <%= link_to 'Edit', "/groups/#{@group.id}/edit" %>
<% end %>

<p>
  Leader: 
  <% if @group.group_leader %>
    <%= @group.group_leader.user.first_name %> <%= @group.group_leader.user.last_name %>
  <% else %>
    No Leader
  <% end %>
</p>

<p>
  Location:
  <%= @group.city %>, <%= @group.state %>
</p>

<p>
  Genres:
  <% @group_genres.each do |group_genre| %>
    <br/>
    <%= group_genre.genre.genre %>
  <% end %>
</p>

<p>
  <div>
    Members:
    <% @group.members.each do |member| %>
      <%= member.user.first_name %>
      <%= member.user.last_name %>
    <% end %>
  </div>
</p>

<div>
  <% if @member.group_leader? %>
    <%= link_to "Make a suggestion list for next month's book", books_path(member_id: @member.id) %>
    <br/>
    <%= link_to "Select next month's book", book_votes_path(group_id: @group.id) %>
    <br/>
    <%= link_to "Set up next month's meeting", meetings_new_path(id: @group.id) %>
  <% end %>
</div>

<div>
  <%= link_to "Vote for next month's book", "/groups/#{@group.id}/book_suggestions" %>
</div>

<div>
  This month's book: 
  <% if @group.this_months_book %>
    <% book = BookSuggestion.find_by(google_book_id: @group.this_months_book.google_book_id) %>
    <%= book.title %>
  <% end %>
  <%= link_to @group.meetings[-2].location, "/meetings/#{@group.meetings[-2].id}/edit" %>
</div> 

<div>
  Next month's book: 
  <% if @group.next_months_book %>
    <% book = BookSuggestion.find_by(google_book_id: @group.next_months_book.google_book_id) %>
    <%= book.title %>
  <% end %>
  <%= link_to @group.meetings[-1].location, "/meetings/#{@group.meetings[-1].id}/edit" %>
</div>

<div>
  Past Books:
  <% @group.past_books.each do |past_book| %>
    <br/>
    <% book = BookSuggestion.find_by(google_book_id: past_book.google_book_id) %>
    <%= past_book.month %>/<%= past_book.year %> <%= book.title %>
  <% end %>
</div>