<h3><%= @user.first_name %> <%= @user.last_name %></h3>

<div>
  Email: <%= @user.email %>
  Zip Code: <%= @user.zip_code %>
</div>

<div>
  Current groups: 
  <% @user.groups.each do |group| %>
    <p><%= group.name %></p>
    <p><%= Member.get_leader(group) && (Member.get_leader(group).user == @user) %></p>
  <% end %>
</div>

<%= link_to 'Join a New Group', '/groups' %>





