<h5>Select books for next month:</h5>

<%= form_tag "/groups/#{@member.group.id}/book_suggestions" do  %>
  <% @books.each do |book| %>
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= book["image_url"] %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h6><%= book["title"] %></h6>

          <div class="card-content">
            Author: <%= book["author"] %><br/>
            <%= book["description"] %>
          </div>

          <div>
            <%= link_to controller: "books", action: "idreambooks", id: book['isbn'], member_id: @member.id do %>
              <%= image_tag('/idreambooks.jpg') %> Book Reviews
            <% end %>
          </div>

          <div class="card-action">
            <p>
              <input type="checkbox" id="book_suggestions_<%= book["isbn"] %>" name='book_suggestions[]' value='<%= book["isbn"] %>' />
              <label for="book_suggestions_<%= book["isbn"] %>">Select</label>
            </p>   
          </div> 

        </div>
      </div>
    </div>
  <% end %>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>

<div class='row' style="margin-top:30px;">
  <%= link_to "<-- Back to #{@member.group.name}", '/groups/#{@member.group.id}' %>
</div>