<div ng-app="app">
  <div ng-controller="bookSuggestionCtrl">
    <h3><%= @group.name %></h3>

    <h4>This month's suggestions</h4>
    <h5> (Select at least one!) </h5>

    <% @book_suggestions.each do |suggestion| %>
      <h3><% book = GoogleBooks.search(suggestion.google_book_id).first %></h3>

      <div class='row'>
        Title: <%= book.title %>  
      </div>
      <div class='row'>
        <%= image_tag("#{book.image_link}", width: '100') %>
      </div>
      <div class='row'>
        Author(s): <%= book.authors %>
      </div>
      <div class='row'>
        <%= book.description %>
      </div>

      <% book_vote = BookVote.find_by(member_id: @member.id, google_book_id: suggestion.google_book_id) %>
      <div ng-click="setVote(<%= @member.id %>, <%= @member.group.id %>, '<%= suggestion.google_book_id %>')">
        <%= label_tag 'Read next month?' %>
        <%= check_box_tag "Read next month?", !book_vote.nil?, !book_vote.nil? %>
      </div>

      <br/>
    <% end %>
  </div>
</div>
