<div ng-controller="bookSuggestionCtrl">
  <h5><%= @group.name %></h5>
  <br/>

  <h6><u>Vote for Next Month's Book (Select at least one!)</u></h6>
  <br/>

  <% unless @book_suggestions.empty? %>
    <% @book_suggestions.each do |suggestion| %>
      <div class="card horizontal">
        <div class="card-image">
          <img src="<%= suggestion.image_url %>">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h6><%= suggestion.title %></h6>

            <div class="card-content">
              Author: <%= suggestion.author %><br/>
              <%= suggestion.description %>
            </div>

            <div class="card-action">
              <% book_vote = BookVote.find_by(member_id: @member.id, isbn: suggestion.isbn) %>
              <p>
                <div ng-click="setVote(<%= @member.id %>, <%= @member.group.id %>, '<%= suggestion.isbn %>')">
                  <input type="checkbox" id="<%= suggestion.isbn %>" name='<%= suggestion.isbn %>' value=<%= !book_vote.nil? %>  />
                  <label for="<%= suggestion.isbn %>">Select</label>
                </div>
              </p>   
            </div>        
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    Nothing selected for next month yet
  <% end %>
</div>
