<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>My Book Club</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="https://use.fontawesome.com/0d40c15112.js"></script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/groups" class="brand-logo">
        <img src="/mybookclub.png" style="margin:4px;width:250px;height:59px;border:0;" >
      </a>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= current_user.email %></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <% if current_user %>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center mahogany-text text-darken-4 " style="text-shadow: 2px 2px 4px #ffffff;font-size:120px;">My Book Club</h1>
          <div class="row center">
            <h5 class="header col s12 light"></h5>
          </div>
          <div class="row center">
            <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="/peabody.jpg" alt="Unsplashed background img 1"></div>
    </div>
  <% end %>

  <div class="container">
    <div class="section">

      <div class="row">
        <div ng-app="app">
          <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
              <%= message.html_safe %> 
            </div>
          <% end %>

          <%= yield %>
        </div>
        <!-- <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div> -->

        <!-- <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <% if current_user %>
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light"></h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/paris_library.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4></h4>
            <p class="left-align light"></p>
          </div>
        </div>

      </div>
    </div>


  <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/ultra_modern_library.jpg" alt="Unsplashed background img 3"></div>
  </div> -->

    <footer class="page-footer mahogany">
      <div class="container">
        <div class="row">
          <!-- <div class="col l6 s12">
            <h5 class="white-text"></h5>
            <p class="grey-text text-lighten-4"></p>
          </div> -->
          <div class="col s12 m6">
            <ul >
              <li  style="display: inline;"><h5 class="white-text">Carolina A. Soler-Rodriguez</h5></li>
              <li style="display: inline;">
                <a href="mailto:casoler11@gmail.com">
                  <img src="/gmail_icon.png">
                </a>
              </li>
              <li style="display: inline;">  
                <a class="white-text" href="https://github.com/casoler">
                  <img src="/github_icon.png">
                </a>
              </li>
              <li style="display: inline;">
                <a class="white-text" href="https://www.linkedin.com/in/casoler">
                  <img src="/linkedin_icon.png">
                </a>
              </li>
              <li style="display: inline;">
                <a class="white-text" href="#">
                  <img src="/twitter_icon.png">
                </a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Carolina A. Soler-Rodriguez</a>
        </div>
      </div>
    </footer>
  <% end %>

  

  </body>
</html>

